{% extends "accounts/base.html" %}

{% block content %}
    <h1>Haha Geek Accounts</h1>
    <h3>Change Password</h3>
    <p>Note: You can't reuse your password once you change it!</p>
    <hr>

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}: {{ field }}
                {{ field.errors }}
            </p>
        {% endfor %}
        <p><input type="submit" value="Change Password" /></p>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}