{% extends "base.html" %}

{% load humanize %}

{% block extrahead %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">


        .survey-container {
            border: 2px solid #2f2f2f;
            -webkit-border-radius: 19px;
            -moz-border-radius: 19px;
            border-radius: 19px;
            -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            text-decoration: none;
            padding-bottom:20px;
        }

        #survey-row
        {
            line-height: 20px;
            background-color: #1e1e1e;
        }

        .survey
        {
            color: #cbcbcb;
            font-weight: bold;
            text-decoration: none;
            margin-right: 10px;
            border-bottom: 1px dashed #DD0000;
        }

        .surveydetails
        {
            color: #cbcbcb;
            background-color: #202020;
            float: none;
            list-style-type:none;
            width: 100%;
            text-align: center;
            font-size: 12px;
            text-shadow: #404040 0 1px 0;
        }

        @media handheld, only screen and (max-width: 767px) {

        }

    </style>

{% endblock %}


{% block content %}

    <div id="wrap">

        <div id="main">

            <div class="container">
                <div class="row">
                    <div class="sixcol">
                        <p class="logo" style="background-color: transparent;">
                            <a href='/'><img src="/static/media/logo.png"></a>
                        </p>
                    </div>

                    <div class="sixcol last">
                        <p class="login" style="background-color: transparent;">
                                User profile of <b>{{ user.username }}</b>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="twelvecol last">
                        <p style="margin-top: 0px; background-color: transparent;">
                            <a href='/about' ><img src="/static/media/aboutButton.png"></a>
                            <a href='/contact'><img src="/static/media/contactButton.png"></a>
                            <a href='/accounts/profile'><img src="/static/media/profileButtonOn.png"></a>
                            <a href='/surveys/create'><img src="/static/media/createButton.png"></a>
                            {% if user.is_staff %}
                                <a href='/admin'><img src="/static/media/adminButton.png"></a>
                            {% endif %}
                            <a href='/accounts/logout'><img src="/static/media/logoutButton.png"></a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="fourcol">
                        <p style="margin-top: 0px; background-color: transparent; line-height: 20px;">
                            <b>Name:</b> {{ user.get_full_name }}
                        </p>
                    </div>

                    <div class="fourcol">
                        <p style="margin-top: 0px; background-color: transparent; line-height: 20px;">
                            <b>Birthday:</b> {{ user.birthday }}
                        </p>
                    </div>

                    <div class="fourcol last">
                        <p style="margin-top: 0px; background-color: transparent;  line-height: 20px; margin-bottom: 20px;">
                            <b>E-Mail:</b> {{ user.email }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="twelvecol last">
                        <p style="margin-top: 0px; background-color: transparent;  line-height: 20px; margin-bottom: 20px;">
                            <a href="/accounts/password_change" style="color: #cbcbcb; border-bottom: 1px dashed #DD0000; text-decoration: none;">Change Password</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="twelvecol last">
                        <div class="survey-container">

                            <p style="line-height:0px; background-color: transparent;">
                                <img src="/static/media/surveyList.png">
                            </p>

                            {% if survey_list %}
                                {% for survey in survey_list %}

                                    <p id="survey-row">
                                        <a href="{%if survey.status == survey.STATUS_ENDED %}{% url surveys.views.results survey_id=survey.id %}{% else %}{% url surveys.views.edit survey_id=survey.id %}{% endif %}" class="survey">{{ survey.title }}</a>
                                        <ul class="surveydetails">
                                            <li>Status: <b style="{% if survey.status == survey.STATUS_ENDED %}color: red;{% elif survey.status == survey.STATUS_PUBLISHED %}color: #90ee90;{% else %}color: #4b4b4b;{% endif %}">{{ survey.get_status_display }}</b></li>
                                            {% if survey.status == survey.STATUS_PUBLISHED %}
                                                <li >Survey Start: <b>{{ survey.starttime|naturaltime }}</b></li>
                                                <li >Survey End: <b>{{ survey.endtime|naturaltime }}</b></li>
                                            {% endif %}
                                        </ul>
                                    </p>

                                {% endfor %}
                            {% else %}
                                <p id="survey-row">No surveys are available.</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

