{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ survey.title }}</title>
    <style type="text/css">
        .surveyInfo { border:1px solid #ccc; background:#eee; padding:0.5em 1em; width:30% }
    </style>
</head>
<body>
    <h1>{{ survey.title }}</h1>
    <div class="surveyInfo">
        {% if survey.status == survey.STATUS_PUBLISHED %}
            <p>Created by: <strong>{{ survey.owner.get_full_name }}</strong></p>
            <p>Survey Status: <strong>{{ survey.get_status_display }}</strong></p>
            <p>Survey Start Time: <strong>{{ survey.starttime|naturaltime }}</strong></p>
            <p>Survey End Time: <strong>{{ survey.endtime|naturaltime }}</strong></p>
            <p>Questions: <strong>{{ survey.question_set.count }}</strong></p>
            {% if user.is_superuser or survey.owner == user %}
                <p>Participants: <strong>{{ survey.surveyee_set.count }}</strong></p>
            {% endif %}
        {% elif survey.status == survey.STATUS_ENDED %}
            <p><strong>This survey has ended.</strong></p>
        {% else %}
            {% if user.is_superuser %}
                <p><strong>This survey is [<a href="{% url surveys.views.edit survey_id=survey.id %}">{{ survey.get_status_display }}</a>] and cannot be viewed by users.</strong></p>
            {% else %}
                <p><strong>You cannot view an unpublished survey.</strong></p>
            {% endif %}
        {% endif %}
        <p><a href="{% url surveys.views.index %}">Back to index</a></p>
    </div>
    {% if survey.status == survey.STATUS_PUBLISHED %}
        <form action="{% url surveys.views.participate survey_id=survey.id %}" method="post">
            {% csrf_token %}
            {% if nextquestion %}
                <a href="{% url surveys.views.question survey_id=survey.id question_id=nextquestion.id %}">Continue survey</a>
            {% else %}
                <input type="submit" value="Take survey" />
            {% endif %}
        </form>
    {% endif %}
</body>
</html>