{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ survey.title }}</title>
    <style type="text/css">
        .surveyInfo { border:1px solid #ccc; background:#eee; padding:0.5em 1em; width:30% }
    </style>
</head>
<body>
    <h1>{{ survey.title }}</h1>
    <div class="surveyInfo">
        <p>Survey Status: <strong>{{ survey.get_status_display }}</strong></p>
        <p>Survey Start Time: <strong>{{ survey.starttime|naturaltime }}</strong></p>
        <p>Survey End Time: <strong>{{ survey.endtime|naturaltime }}</strong></p>
        <p>Questions: <strong>{{ survey.question_set.count }}</strong></p>
    </div>
    <form action="{% url surveys.views.participate survey_id=survey.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Take survey" />
    </form>
</body>
</html>