{% load humanize %}
<html>
    <head>
        <title>iNTUSurvey</title>
        <style type="text/css">
            .survey h3 { font:normal 12px Verdana; margin-left:2em }
            .survey ul { font:normal 11px Verdana; list-style-type:none; }
            .survey ul li { padding:0.2em 0 }
            .survey li.label { float:left; width:90px }
            .survey li.text { font-weight:bold }
        </style>
    </head>
    <body>
        <h1>Surveys</h1>
        {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}. <a href="{% url surveys.views.create %}">Create a new survey</a></p>
        {% else %}
            <p><a href="{% url accounts.views.accounthome %}">Login</a> to create a survey</p>
        {% endif %}
        <h2>Newest surveys:</h2>
        {% if latest_survey_list %}
            {% for survey in latest_survey_list %}
                <p><a href="{% url surveys.views.detail survey_id=survey.id %}">{{ survey.title }}</a> published <strong>{{ survey.starttime|naturaltime }}</strong></p>
            {% endfor %}
        {% else %}
            <p>No surveys are available.</p>
        {% endif %}
        <h2>Popular surveys:</h2>
        {% if popular_survey_list %}
            {% for survey in popular_survey_list %}
                <p><a href="{% url surveys.views.detail survey_id=survey.id %}">{{ survey.title }}</a> <strong>{{ survey.participants }} participants</strong></p>
            {% endfor %}
        {% else %}
            <p>No surveys are available.</p>
        {% endif %}
        <h2>All surveys:</h2>
        {% if all_survey_list %}
            {% for survey in all_survey_list %}
                <p><a href="{% url surveys.views.detail survey_id=survey.id %}">{{ survey.title }}</a> by <strong>{{ survey.owner.get_full_name }}</strong></p>
            {% endfor %}
        {% else %}
            <p>No surveys are available.</p>
        {% endif %}
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <h2>Unpublished surveys:</h2>
                {% if active_survey_list %}
                    {% for survey in active_survey_list %}
                        <p><a href="{% url surveys.views.detail survey_id=survey.id %}">{{ survey.title }}</a> created <strong>{{ survey.created|naturaltime }}</strong> by <strong>{{ survey.owner.get_full_name }}</strong></p>
                    {% endfor %}
                {% endif %}
            {% else %}
                <h2>Your surveys:</h2>
                    {% for survey in user_survey_list %}
                        <div class="survey">
                            <h3><a href="{% if survey.status == survey.STATUS_ACTIVE %}{% url surveys.views.edit survey_id=survey.id %}{% elif survey.status == survey.STATUS_ENDED %}{% url surveys.views.results survey_id=survey.id %}{% else %}{% url surveys.views.detail survey_id=survey.id %}{% endif %}">{{ survey.title }}</a></h3>
                            <ul>
                                <li class="label">Status:</li><li class="text">{{ survey.get_status_display }}</li>
                                <li class="label">Questions:</li><li class="text">{{ survey.numQuestions }}</li>
                                {% if survey.status == survey.STATUS_PUBLISHED %}
                                    <li class="label">Participants:</li><li class="text">{{ survey.participants }}</li>
                                    <li class="label">Results:</li><li class="text">{{ survey.get_resultDisplay_display }}</li>
                                    <li class="label">Time started:</li><li class="text">{{ survey.starttime|naturaltime }}</li>
                                    <li class="label">Time left:</li><li class="text">{{ survey.endtime|naturaltime }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
            {% endif %}
        {% endif %}
    </body>
</html>
