{% extends "base.html" %}

{% load humanize %}

{% block extrahead %}

    <style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html">


        .survey-container {
            border: 2px solid #2f2f2f;
            -webkit-border-radius: 19px;
            -moz-border-radius: 19px;
            border-radius: 19px;
            -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            text-decoration: none;
            padding-bottom:20px;
        }

        #survey-row
        {
            line-height: 20px;
            background-color: #1e1e1e;
        }

        .survey
        {
            color: #cbcbcb;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            width: 100%;
            padding-bottom: 5px;;
            border-bottom: 1px dashed #DD0000;
            line-height: 15px;
        }

        .surveydetails
        {
            color: #cbcbcb;
            float: none;
            width: 100%;
            text-align: center;
            list-style-type: none;
            font-size: 12px;
            text-shadow: #404040 0 1px 0;
        }

        #id_textbox , #id_textarea {
            border: 1px solid #3b3b3b;
            background: #ffffff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #000000;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            padding: 2px;;
            width:80%;
            max-width: 200px;
            text-align: center;
        }
        #id_textbox:focus , #id_textarea:focus{
            background: #000000;
            color: #55e34d;
        }

        .submit-button {
            border: 1px solid #447314;
            background: #6aa436;
            background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
            background: -webkit-linear-gradient(top, #8dc059, #6aa436);
            background: -moz-linear-gradient(top, #8dc059, #6aa436);
            background: -ms-linear-gradient(top, #8dc059, #6aa436);
            background: -o-linear-gradient(top, #8dc059, #6aa436);
            background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
            box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
            text-shadow: #addc7e 0 1px 0;
            color: #31540c;
            font-family: helvetica, serif;
            padding: 8.5px 30px;
            font-size: 14px;
            text-decoration: none;
            vertical-align: middle;
        }
        .submit-button:hover {
            border: 1px solid #447314;
            text-shadow: #31540c 0 1px 0;
            background: #6aa436;
            background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
            background: -webkit-linear-gradient(top, #8dc059, #6aa436);
            background: -moz-linear-gradient(top, #8dc059, #6aa436);
            background: -ms-linear-gradient(top, #8dc059, #6aa436);
            background: -o-linear-gradient(top, #8dc059, #6aa436);
            background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
            color: #fff;
        }
        .submit-button:active {
            text-shadow: #31540c 0 1px 0;
            border: 1px solid #447314;
            background: #8dc059;
            background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
            background: -webkit-linear-gradient(top, #6aa436, #8dc059);
            background: -moz-linear-gradient(top, #6aa436, #8dc059);
            background: -ms-linear-gradient(top, #6aa436, #8dc059);
            background: -o-linear-gradient(top, #6aa436, #8dc059);
            background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
            color: #fff;
        }

        @media handheld, only screen and (max-width: 767px) {

        }

    </style>

{% endblock %}


{% block content %}

    <div id="wrap">

        <div id="main">

            <div class="container">
                <div class="row">
                    <div class="sixcol">
                        <p class="logo" style="line-height:0; background-color: transparent;">
                            <a href='/'><img src="/static/media/logo.png"></a>
                        </p>
                    </div>

                    <div class="sixcol last">
                        <p class="login" style="background-color: transparent;">
                            {% if user.is_authenticated %}
                                Welcome, {{ user.username }}.
                            {% else %}
                                Hello, Guest.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="twelvecol last">
                        <div class="survey-container">

                        {% if question %}

                            <p class="survey" style="line-height:20px; background-color: transparent;">
                                {{ survey.title }}
                            </p>

                            <p style="line-height:20px; background-color: transparent;">
                                Q{{ question.number }}. {{ question.question }}
                            </p>

                            <p style="background-color: transparent;;">

                            <form action="{% url surveys.views.vote survey_id=survey.id %}" method="post" style="color:red;">
                                {% csrf_token %}

                                    {% if question.type == question.TYPE_RADIO or question.type == question.TYPE_CHECKBOX %}
                                        {% for choice in question.choice_set.all %}
                                            <p style="line-height:0px; background-color: transparent;">
                                                <input type="{% if question.type == question.TYPE_RADIO %}radio{% elif question.type == question.TYPE_CHECKBOX %}checkbox{% endif %}" name="question-{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                                                <label for="choice{{ choice.id }}">{{ choice.choice }}</label><br />
                                            </p>
                                        {% endfor %}
                                    {% elif question.type == question.TYPE_TEXTBOX %}
                                        <p style="line-height:0px; background-color: transparent;">
                                            <input id="id_textbox" type="text" name="question-{{ question.id }}" value="" /><br />
                                        </p>

                                    {% elif question.type == question.TYPE_TEXTAREA %}
                                        <p style="line-height:0px; background-color: transparent;">
                                            <textarea id="id_textarea" style="width:400px;height:200px" name="question-{{ question.id }}"></textarea><br />
                                        </p>
                                    {% endif %}


                                <p style="line-height:0px; background-color: transparent;">
                                    <input class="submit-button" type="submit" value="Answer" />
                                </p>

                                <p style="line-height:16px; background-color: transparent;">
                                    Survey Completion:{{ question.number }} / {{ survey.question_set.count }}
                                </p>


                            {% if question.next %}
                                <input type="hidden" name="nextquestion" value="{{ question.next.id }}" />
                            {% endif %}

                            </form>

                            </p>

                        {% else %}
                            <p class="survey">There are no questions in this survey yet.</p>
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

